<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.launchdinner">
    <!-- 카카오맵 api -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launchdinner"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".BoardDetailActivity"
            android:exported="true" />
        <activity
            android:name=".DeclarationActivity"
            android:exported="true" />
        <activity
            android:name=".BoardWriteActivity"
            android:exported="true" />
        <activity
            android:name=".WebviewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KakaoMapViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ApplyViewActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9e2ef8e16a27dfce871331354795f185" />

        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>